{% extends "layout.html" %}

{%block content%}

<div class="container px-5">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a href="{{url_for('step1')}}" class="noUnderline">
                <button class="nav-link" id="s1-tab" data-bs-toggle="tab" type="button"
                    role="tab" aria-controls="s1-tab" aria-selected="true">
                    Step 1
                </button>
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a href="{{url_for('step2')}}" class="noUnderline">
                <button class="nav-link" id="s2-tab" data-bs-toggle="tab" type="button"
                    role="tab" aria-controls="s2-tab" aria-selected="false">
                    Step 2
                </button>
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="s3-tab" data-bs-toggle="tab" data-bs-target="#step3" type="button"
                role="tab" aria-controls="s3-tab" aria-selected="false">Step 3</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link disabled" id="s4-tab" data-bs-toggle="tab" type="button"
                role="tab" aria-controls="s4-tab" aria-selected="false">
                Step 4</button>
        </li>
    </ul>
    <div class="tab-content position-relative" id="myTabContent">
        <!-- step 3 -->
        <div class="tab-pane fade show active position-relative h-100" id="step3" role="tabpanel"
            aria-labelledby="s3-tab">
            <div class="container position-relative h-100">
                <div class="row justify-content-center h-10 position-relative">
                    <div class="col d-flex justify-content-center p-2">
                        <h4>Annotate your data</h4>
                    </div>
                </div>
                <div class="row justify-content-center h-50 ">
                    <div class="col d-flex justify-content-center iconParent">
                        <img class="icon" src="{{url_for('static', filename='/images/download.png')}}" />
                    </div>
                    <div class="col d-flex justify-content-center iconParent">
                        <img class="icon" src="{{url_for('static', filename='/images/gameplay.png')}}" />
                    </div>
                    <div class="col d-flex justify-content-center iconParent">
                        <img class="icon" src="{{url_for('static', filename='/images/marking.png')}}" />
                    </div>
                </div>

                <div class="row justify-content-center mt-4">
                    <div class="col text-center">
                        <a href="/getTSV" class="">1. Download processed tsv file</a>
                    </div>
                    <div class="col d-flex justify-content-center">
                        2. Watch gameplay
                    </div>
                    <div class="col">
                        <p class = "d-flex justify-content-center">3. Whenever the state of the game changes,</br> 
                            mark it at that particular timestamp.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex text-center">
                        <form class="centerForm" action="http://localhost:5000/uploadAnnotation" method="POST"
                            enctype="multipart/form-data">
                            <input class="" type="file" name="file" />
                            <input id="submit" class="invisible" type="submit" />

                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-8 d-flex justify-content-end" onclick="uploadFile()">
                        <a class="dark actMouse">Next Step ></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        function uploadFile() {
            $('#submit')[0].click()
        }
    </script>
</div>
{%endblock%}